

main.genre{
    text-align: center;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), 
    url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
main.genre>section{
    padding: 100px 0 20px 0;
}
main.genre>section p{
    display: inline-block;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 0px;
    width: 400px;
    outline: none;
}
main.genre>section a{
    text-decoration:none;
    color: #c1c1c1;
}
main.genre>section h2{
    color: #eeeeee;
    font-size: 35px;
}




/* Result container */
section.content{
    border-top: 8px solid #222222;
    text-align: center;
    margin-bottom: 100px;
}
#resultContainer{
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 0;
}
#resultContainer .figuresContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#resultContainer figure{
    margin: 0 auto 50px;
    transition: 0.2s ease;
    background-color: #222222;
    border-radius: 20px;
    height: 400px;
    width: 250px;
    padding: 6px;
    text-align: center;
}
#resultContainer figure:hover{
    transform: scale(1.1);
}
#resultContainer img{
    max-height: 350px;
    width: 100%;
    border-radius: 15px;
}

#resultContainer figcaption{
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#resultContainer a{
    text-decoration: none;
}

button#more{
    background-color: #E50914;
    outline: none;
    text-align: center;
    border: none;
    padding: 15px 25px;
    font-size: 1.3rem;
    border-radius: 8px;
    cursor: pointer;
}



/* ----------RESPONSIVE----------- */

/* RESPONSIVE 768x1024 */
@media screen and (max-width:1024px){
    section#resultContainer{
        margin-top: 50px;
        padding: 0 10px
    }
    #resultContainer .figuresContainer{
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    #resultContainer figure{
        margin: 0 auto 30px;
        height: 80%;
        width: 85%;
    }
    #resultContainer img{
        max-height: 85%;
        width: 100%;
    }
    #resultContainer figcaption{
        height: 10%;
        font-size: 16px;
        margin: 10px 0;
    }
}




/* RESPONSIVE 576x767 */
@media screen and (max-width:767px){
    html, body{
        overflow-x: hidden;
    }
    section#resultContainer{
        margin-top: 50px;
        padding: 0 10px
    }
    #resultContainer .figuresContainer{
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    }
    #resultContainer figure{
        margin: 0 auto 30px;
        height: 80%;
        width: 85%;
    }
    #resultContainer img{
        max-height: 85%;
        width: 100%;
    }
    #resultContainer figcaption{
        height: 10%;
        font-size: 16px;
        margin: 10px 0;
    }
}


/* 426px and 575px */
@media screen and (max-width:575px){
    html, body{
        overflow-x: hidden;
    }
    header{
        padding: 20px 15px;
    }
    header ul a{
        padding: 10px !important;
    }
    main.genre>section{
        padding-top: 90px !important;
    }
    main.genre>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.genre>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    /* content section */
    section#resultContainer{
        margin-top: 50px;
        padding: 0 10px
    }
    #resultContainer .figuresContainer{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    #resultContainer figure{
        margin: 0 auto 30px;
        height: 80%;
        width: 85%;
    }
    #resultContainer img{
        max-height: 85%;
        width: 100%;
    }
    #resultContainer figcaption{
        height: 10%;
        font-size: 16px;
        margin: 10px 0;
    }

}



/* 351px and 425px */
@media screen and (max-width:425px){
    html, body{
        overflow-x: hidden;
    }
    header ul{
        margin-bottom: 0px;
    }
    header{
        display: block;
    }
    main.genre>section{
        padding-top: 90px !important;
    }
    main.genre>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.genre>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    /* content section */
    section#resultContainer{
        margin-top: 50px;
        padding: 0 10px
    }
    #resultContainer .figuresContainer{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #resultContainer figure{
        margin: 0 auto 30px;
        height: 80%;
        width: 85%;
    }
    #resultContainer img{
        max-height: 85%;
        width: 100%;
    }
    #resultContainer figcaption{
        height: 10%;
        font-size: 14px;
        margin: 10px 0;
    }

}


/* under 350 px */
@media screen and (max-width:350px){
    html, body{
        overflow-x: hidden;
    }
    main.genre>section{
        padding-top: 90px !important;
    }
    main.genre>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.genre>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }

    /* section content */
    section#resultContainer{
        margin-top: 50px;
        padding: 0 10px
    }
    #resultContainer .figuresContainer{
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    #resultContainer figure{
        margin: 0 auto 20px;
        height: 230px;
        width: 120px;
    }
    #resultContainer img{
        max-height: 180px;
        width: 100%;
    }
    #resultContainer figcaption{
        height: 50px;
        font-size: 14px;
        margin: 0px 0;
    }
}