
main.details{
    text-align: center;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), 
    url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
main.details>section{
    padding: 100px 0 20px 0;
}
main.details>section p{
    display: inline-block;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 0px;
    width: 400px;
    outline: none;
}
main.details>section a{
    text-decoration:none;
    color: #c1c1c1;
}
main.details>section h2{
    color: #eeeeee;
    font-size: 35px;
    margin-bottom: 11px;
}


/* details section */

section.details{
    border-top: 8px solid #222222;
    padding: 70px 0 20px 0;
}


.details>.container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: #333333;
    border-radius: 10px;
}
.poster_wrapper{
    margin: 40px auto;
    width: 300px;
}

#poster{
    max-height: 400px;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin:auto;
}
.details-wrapper{
    display: flex;
    align-items: center;
    color: #c1c1c1;
    margin: auto;
    padding: 0 20px;
}
.details-wrapper div.container{
    max-width: 700px;
    min-width: 300px;
    padding-left: 20px;
    box-sizing: border-box;
}

.details-wrapper h2#movietitle{
    display: inline !important;
    color: #eeeeee;
    font-size: 2.5rem;
}
.details-wrapper span#year{
    font-size: 1.5rem;
}
.details-wrapper #movieGenres{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.details-wrapper #movieGenres+div{
    font-size: 20px;
    margin: 20px 0;
}
.details-wrapper #score{
    text-align: center;
    display: inline-block;
    background-color: #E50914;
    line-height: 40px;
    width: 55px;
    color: white;
    border-radius: 10px;
}
.details-wrapper .overview{
    margin: 40px 0 0 0;
}
#overview{
    line-height: 22px;
    font-family: myFirstFont;
    letter-spacing: 1px;
}
.sources{
    color: #c1c1c1;
    width: 95%;
    margin: 20px auto 0;
    text-align: right;
    margin-right: 10%;
}
.sources img{
    width: 90px;
    margin: 0 10px;
}
.sources button{
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #E50914;
    vertical-align: middle;
    margin-left: 10px;
    outline: none;
}


/* MEDIA section */

section.media-wrapper{
    width: 90%;
    margin: auto;
    margin-bottom: 100px !important;
}

.media{
    overflow-x: auto;
    border-radius: 15px 15px 0 0;

}
.mediacontainer{
    background-color: #333333;
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
    display: inline-flex;
}
.mediacontainer>*{
    height: 330px;
    margin-right: 10px;
}
.media-wrapper> h2{
    color: white;
    margin-top: 50px;
    margin-left: 30px;
}

#novideo{
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------RESPONSIVE------------ */

/* RESPONSIVE 768x1024 */
@media screen and (max-width:1024px){
    section.details>div.container{
        width: 95%;
        flex-wrap: nowrap;
    }
    section.details>div.container .poster_wrapper{
        margin-top: 35px;
    }
    .poster_wrapper #poster{
        width: 90%;
        margin-left: 15px;
    }
    section.details>div.container .details-wrapper{
        width: 90%;
        padding: 20px 20px 0;
        padding-left: 20px;
    }
    .details-wrapper div.container{
        padding: 0px !important;
        min-width: unset;
        max-width: unset;
    }
    .details-wrapper #movietitle{
        font-size: 32px !important;
    }
    .details-wrapper span#year {
        font-size: 24px !important;
    }
    .details-wrapper #movieGenres{
        width: 100%;
    }
    .details-wrapper p#overview{
        width: 100%;
        margin: 16px 0 30px !important;
    }
    /* media section */
    
    .container::-webkit-scrollbar {
        background-color: rgb(128, 128, 128);
        border-radius: 0 0 50px 50px;
        height: 13px;
    }
}


/* RESPONSIVE 576x767 */
@media screen and (max-width:767px){
    html, body{
        overflow-x: hidden;
    }
    /* main content section */
    section.details>div.container{
        width: 95%;
        flex-wrap: nowrap;
    }
    section.details>div.container .poster_wrapper{
        margin-top: 35px;
    }
    .poster_wrapper #poster{
        width: 90%;
    }
    section.details>div.container .details-wrapper{
        width: 90%;
        padding: 20px 20px 0;
        padding-left: 20px;
    }
    .details-wrapper div.container{
        padding: 0px !important;
        min-width: unset;
        max-width: unset;
    }
    .details-wrapper #movietitle{
        font-size: 32px !important;
    }
    .details-wrapper span#year {
        font-size: 24px !important;
    }
    .details-wrapper #movieGenres{
        width: 100%;
    }
    .details-wrapper p#overview{
        width: 100%;
        margin: 16px 0 30px !important;
    }
    /* media section */
    .container::-webkit-scrollbar {
        border-radius: 0 !important;
        height: 8px;
    }
    .container::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
    section.media-wrapper{
        margin:0px;
        width: 100%;
    }
    section.media-wrapper div.media{
        border-radius: 0px;
    }
    section.media-wrapper div.media .mediacontainer{
        height: 300px !important;
    }
    section.media-wrapper div.media .mediacontainer>*{
        height: 280px;
    }
    section.media-wrapper div.media .mediacontainer>iframe{
        height: 280px;
        width: 490px;
    }
    #novideo{
        height: 280px;
        width: 490px;
    }
}


/* 426px and 575px */
@media screen and (max-width:575px){
    html, body{
        overflow-x: hidden;
    }
    header {
        padding: 20px 15px;
    }
    header ul a{
        padding: 10px !important;
    }
    /* main */
    main.details>section{
        padding-top: 90px !important;
    }
    img#poster{
        display: block;
        margin: auto !important;
    }
    main.details>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.details>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    /* main content section */
    section.details>div.container{
        width: 90%;
        flex-wrap: wrap;
    }
    section.details>div.container .poster_wrapper{
        margin-top: 30px;
    }
    .poster_wrapper #poster{
        width: 80%;
    }
    section.details>div.container .details-wrapper{
        width: 90%;
    }
    .details-wrapper div.container{
        padding: 0px !important;
        min-width: unset;
        max-width: unset;
    }
    .details-wrapper #movietitle{
        font-size: 32px !important;
    }
    .details-wrapper span#year {
        font-size: 24px !important;
    }
    .details-wrapper #movieGenres{
        width: 100%;
    }
    .details-wrapper p#overview{
        width: 100%;
        margin: 16px 0 30px !important;
    }
    /* media section */
    .container::-webkit-scrollbar {
        border-radius: 0 !important;
        height: 5px;
    }
    .container::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
    section.media-wrapper{
        margin:0px;
        width: 100%;
    }
    section.media-wrapper div.media{
        border-radius: 0px;
    }
    section.media-wrapper div.media .mediacontainer{
        height: 260px !important;
    }
    section.media-wrapper div.media .mediacontainer>*{
        height: 240px;
    }
    section.media-wrapper div.media .mediacontainer>iframe{
        height: 240px;
        width: 420px;
    }
    #novideo{
        height: 240px;
        width: 420px;
    }
}


/* 351px and 425px */
@media screen and (max-width:425px){
    html, body{
        overflow-x: hidden;
    }
    header ul{
        margin-bottom: 0px;
    }
    header ul a{
        padding: 10px !important;
    }
    header{
        display: block;
    }
    main.details>section{
        padding-top: 90px !important;
    }
    main.details>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.details>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    main.details>section{
        padding-top: 90px !important;
    }
    main.details>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.details>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    /* main content section */
    section.details>div.container{
        width: 90%;
        flex-wrap: wrap;
    }
    section.details>div.container .poster_wrapper{
        margin-top: 30px;
    }
    .poster_wrapper #poster{
        width: 80%;
    }
    section.details>div.container .details-wrapper{
        width: 90%;
    }
    .details-wrapper div.container{
        padding: 0px !important;
        min-width: unset;
        max-width: unset;
    }
    .details-wrapper #movietitle{
        font-size: 28px !important;
    }
    .details-wrapper span#year {
        font-size: 22px !important;
    }
    .details-wrapper #movieGenres{
        width: 100%;
    }
    .details-wrapper p#overview{
        width: 100%;
        margin: 16px 0 30px !important;
    }
    /* media section */
    .container::-webkit-scrollbar {
        border-radius: 0 !important;
        height: 5px;
    }
    .container::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
    section.media-wrapper{
        margin:0px;
        width: 100%;
    }
    section.media-wrapper div.media{
        border-radius: 0px;
    }
    section.media-wrapper div.media .mediacontainer{
        height: 220px !important;
    }
    section.media-wrapper div.media .mediacontainer>*{
        height: 200px;
    }
    section.media-wrapper div.media .mediacontainer>iframe{
        height: 200px;
        width: 350px;
    }
    #novideo{
        height: 200px;
        width: 350px;
    }
}


/* under 350 px */
@media screen and (max-width:350px){
    html,body{
        overflow-x: hidden;
    }
    header{
        padding: 20px 15px;
    }
    header ul{
        margin-bottom: 0px;
    }
    header ul a{
        padding: 10px !important;
    }
    main.details>section{
        padding-top: 90px !important;
    }
    main.details>section p{
        width: 200px;
        padding-bottom: 10px;
    }
    main.details>section h2{
        margin: 20px 10px;
        font-size: 30px;
    }
    /* main content section */
    section.details>div.container{
        width: 90%;
        flex-wrap: wrap;
    }
    section.details>div.container .poster_wrapper{
        margin-top: 30px;
    }
    .poster_wrapper #poster{
        width: 80%;
    }
    section.details>div.container .details-wrapper{
        width: 90%;
    }
    .details-wrapper div.container{
        padding: 0px !important;
        min-width: unset;
        max-width: unset;
    }
    .details-wrapper #movietitle{
        font-size: 28px !important;
    }
    .details-wrapper span#year {
        font-size: 22px !important;
    }
    .details-wrapper #movieGenres{
        width: 100%;
    }
    .details-wrapper p#overview{
        width: 100%;
        margin: 16px 0 30px !important;
    }
    /* media section */
    .container::-webkit-scrollbar {
        border-radius: 0 !important;
        height: 5px;
    }
    .container::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
    .section.media-wrapper{
        margin:0px;
        width: 100%;
    }
    section.media-wrapper div.media{
        border-radius: 0px;
    }
    section.media-wrapper div.media .mediacontainer{
        height: 220px !important;
    }
    section.media-wrapper div.media .mediacontainer>*{
        height: 200px !important;
    }
    section.media-wrapper div.media .mediacontainer>iframe{
        height: 200px;
        width: 310px;
    }
    #novideo{
        height: 200px;
        width: 310px;
    }
}