@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  /* scroll-behavior: smooth; */
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80) !important;
  border-radius: 50px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  scroll-behavior: smooth;
  /* height: 2000px; */
}
header {
  padding: 30px 75px 30px 75px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 99;
  transition: 0.3s ease;
}

header.fixed {
  /* added class after scroll*/
  background-color: #222222;
  padding: 10px 55px 10px 55px;
  box-shadow: 0 1px 5px black;
}

header > a > h1 {
  font-size: 2.5rem;
  color: #e50914;
  font-weight: 600;
  margin: 0;
}
header > a.brand {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}
header > nav li {
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s ease;
}
header > nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  transition: 0.3s ease;
}
header > nav a.signIn {
  background-color: #e50914;
  border-radius: 8px;
}

header > nav li:hover {
  transform: translateY(-4px);
}
header > nav a.signIn:hover {
  box-shadow: 0 0 15px red;
}
header > nav li.signIn {
  transform: none;
}

main.home {
  height: 45rem;
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 2.5%,
      rgba(0, 0, 0, 0.35) 29.63%,
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.7) 80%
    ),
    url(./images/bg.jpg) no-repeat;
  background-size: cover;
}
main.home > section {
  padding-top: 250px;
}
main.home > section > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}
main.home div.container {
  display: inline-block;
  background-color: white !important;
  border: none;
  border-radius: 50px;
  width: 400px;
  height: 45px;
}
main.home div form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.home div input,
main div button {
  border: none;
  height: 100%;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
}
main.home div input {
  width: 75%;
  padding-left: 30px;
}
main.home div button {
  margin-right: 2px;
  height: 90%;
  cursor: pointer;
  background-color: #e50914;

  padding: 0 15px 0 15px;
  transition: 0.2s ease;
  color: #fff;
}
main.home div button:hover {
  transform: scale(1.1);
}
main.home i {
  color: white;
  position: relative;
  top: 240px;
}

section.movieType {
  border-top: 8px solid #222222;
  padding: 40px;
}
.movieType h2 {
  color: white;
  margin: 80px 0 25px 30px;
}
.movieType .container {
  overflow-x: auto;
  border-radius: 15px;
  background-color: #333333;
}
.container::-webkit-scrollbar {
  background-color: rgb(128, 128, 128);
  border-radius: 0 0 50px 50px;
  height: 15px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #222222 !important;
  border-radius: 0 0 50px 50px;
}
.figureContainer {
  height: 290px;
  color: white;
  padding: 20px;
}
.movieType .figuresContainer {
  display: flex;
}
.movieType figure {
  transition: 0.2s ease;
  background-color: #222222;
  border-radius: 20px;
  height: 270px;
  width: 150px;
  padding: 6px;
  text-align: center;
  margin: 0 15px 0 15px;
}
.movieType figure:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px grey;
}
.movieType img {
  max-height: 350px;
  width: 100%;
  border-radius: 15px;
}

.movieType figcaption {
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.movieType a {
  text-decoration: none;
  color: white;
}

section.home div.genres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0px 10px 20px 10px;
}
section.home div.genres a {
  margin: 0px auto;
  background-color: #222222;
  height: 100px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: 0.2s ease;
  background-size: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  background-position: center;
}
section.home div.genres a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px grey;
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
section.home div.genres a:nth-child(1) {
  background-image: url(./images/1.jpg);
}
section.home div.genres a:nth-child(2) {
  background-image: url(./images/2.jpg);
}
section.home div.genres a:nth-child(3) {
  background-image: url(./images/3.jpg);
}
section.home div.genres a:nth-child(4) {
  background-image: url(./images/4.jpg);
}
section.home div.genres a:nth-child(5) {
  background-image: url(./images/5.jpg);
}
section.home div.genres a:nth-child(6) {
  background-image: url(./images/6.jpg);
}

footer {
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 50px;
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
footer div {
  color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  letter-spacing: 1px;
}
footer a {
  background-color: #aaaaaa;
  border-radius: 50%;
  text-decoration: none;
  height: 45px;
  width: 45px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
footer a:hover {
  background-color: #e50914;
}
.networks {
  font-size: 20px;
  height: 25px;
  text-decoration: none;
  color: black;
}

/* ----------------------------RESPONSIVE DESIGN --------------------- */
/* ----------------------------RESPONSIVE DESIGN --------------------- */
/* ----------------------------RESPONSIVE DESIGN --------------------- */
/* ----------------------------RESPONSIVE DESIGN --------------------- */

/* RESPONSIVE 768x1024 */
@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* header */
  header h1 {
    font-size: 40px !important;
    text-align: center;
  }
  header ul {
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  header ul a {
    font-size: 20px;
  }

  /* main */
  main.home {
    height: 650px;
  }
  main.home > section {
    padding: 220px 30px !important;
  }
  main.home > section > p {
    font-size: 32px;
  }
  main.home > section div {
    width: 300px !important;
    height: 40px !important;
  }
  main.home > section div form * {
    font-size: 16px;
  }
  main.home > section div input {
    padding-left: 15px;
  }
  main.home > i {
    top: -10px;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 14px;
  }
  /* trending today */
  section.home {
    padding: 40px 15px;
  }
  section.home > h2 {
    margin-top: 35px;
  }
  section.home > div.container {
    height: 280px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  section.home div.container div.figureContainer {
    height: 250px !important;
    padding: 10px;
    box-sizing: border-box;
  }
  section.home > div.container > .figureContainer a figure {
    height: 235px;
    width: 145px;
    margin-left: 0px;
  }
  section.home > div.container > .figureContainer a figure img {
    max-height: 190px;
  }
  .container::-webkit-scrollbar {
    background-color: rgb(128, 128, 128);
    border-radius: 0 0 50px 50px;
    height: 10px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #222222 !important;
    border-radius: 0 0 50px 50px;
  }

  /* genres section */
  section.home div.genres {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    padding: 10px;
    border-radius: 20px;
    height: 220px;
  }
  div.genres a {
    margin-top: 10px !important;
    height: 90px !important;
    text-align: center;
  }
  /* footer */
  footer {
    padding: 20px 5px;
    font-size: 14px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* RESPONSIVE 576x767 */
@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* header */
  header {
    padding: 20px 35px;
    display: flex;
  }
  header > a {
    display: block !important;
  }
  header h1 {
    font-size: 40px !important;
    text-align: center;
  }
  header ul {
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  header ul li {
    margin: 0;
  }
  header ul a {
    font-size: 20px;
  }
  header.fixed {
    padding: 10px 15px;
  }
  /* main */
  main.home {
    height: 650px;
  }
  main.home > section {
    padding: 220px 30px !important;
  }
  main.home > section > p {
    font-size: 32px;
  }
  main.home > section div {
    width: 300px !important;
    height: 40px !important;
  }
  main.home > section div form * {
    font-size: 16px;
  }
  main.home > section div input {
    padding-left: 15px;
  }
  main.home > i {
    top: 0px;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 14px;
  }
  /* trending today */
  section.home {
    padding: 40px 15px;
  }
  section.home > h2 {
    margin-top: 35px;
  }
  section.home > div.container {
    height: 260px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  section.home div.container div.figureContainer {
    height: 250px !important;
    padding: 10px;
    box-sizing: border-box;
  }
  section.home > div.container > .figureContainer a figure {
    height: 220px;
    width: 130px;
    margin-left: 0px;
  }
  section.home > div.container > .figureContainer a figure img {
    max-height: 170px;
  }
  .container::-webkit-scrollbar {
    background-color: rgb(128, 128, 128);
    border-radius: 0 0 50px 50px;
    height: 10px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #222222 !important;
    border-radius: 0 0 50px 50px;
  }

  /* genres section */
  section.home div.genres {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    padding: 10px;
    border-radius: 20px;
    height: 220px;
  }
  div.genres a {
    margin-top: 10px !important;
    height: 90px !important;
    text-align: center;
  }
  /* footer */
  footer {
    padding: 20px 5px;
    font-size: 14px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* 426px and 575px */
@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* header */
  header {
    padding: 20px 30px;
    display: flex;
  }
  header > a {
    display: block !important;
  }
  header h1 {
    font-size: 34px !important;
    text-align: center;
  }
  header ul {
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  header ul li {
    margin: 0;
  }
  header ul a {
    font-size: 20px;
  }
  header.fixed {
    padding: 10px 15px;
  }
  /* main */
  main.home {
    height: 650px;
  }
  main.home > section {
    padding: 220px 30px !important;
  }
  main.home > section > p {
    font-size: 32px;
  }
  main.home > section div {
    width: 300px !important;
    height: 40px !important;
  }
  main.home > section div form * {
    font-size: 16px;
  }
  main.home > section div input {
    padding-left: 15px;
  }
  main.home > i {
    top: 10px;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  /* trending today */
  section.home {
    padding: 40px 15px;
  }
  section.home > h2 {
    margin-top: 35px;
  }
  section.home > div.container {
    height: 260px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  section.home div.container div.figureContainer {
    height: 250px !important;
    padding: 10px;
    box-sizing: border-box;
  }
  section.home > div.container > .figureContainer a figure {
    height: 220px;
    width: 130px;
    margin-left: 0px;
  }
  section.home > div.container > .figureContainer a figure img {
    max-height: 170px;
  }
  .container::-webkit-scrollbar {
    background-color: rgb(128, 128, 128);
    border-radius: 0 0 50px 50px;
    height: 10px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #222222 !important;
    border-radius: 0 0 50px 50px;
  }

  /* genres section */
  section.home div.genres {
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    padding: 10px;
    border-radius: 20px;
    height: 340px;
  }
  div.genres a {
    margin-top: 10px !important;
    height: 95px !important;
    text-align: center;
  }
  /* footer */
  footer {
    padding: 10px 5px;
    font-size: 14px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

/* 351px and 425px */
@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* header */
  header {
    padding: 10px 15px;
    display: flex;
  }
  header > a {
    display: block !important;
  }
  header h1 {
    font-size: 30px !important;
    text-align: center;
  }
  header ul {
    /* box-sizing: border-box; */
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  header ul li {
    margin: 0px;
  }
  header ul a {
    font-size: 18px;
    white-space: nowrap;
  }
  header.fixed {
    padding: 10px 15px;
  }
  /* main */
  main.home {
    height: 650px;
  }
  main.home > section {
    padding: 200px 30px !important;
  }
  main.home > section > p {
    font-size: 28px;
  }
  main.home > section div {
    width: 280px !important;
    height: 40px !important;
  }
  main.home > section div form * {
    font-size: 16px;
  }
  main.home > section div input {
    padding-left: 15px;
  }
  main.home > i {
    top: 10px;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  /* trending today */
  section.home {
    padding: 40px 15px;
  }
  section.home > h2 {
    margin-top: 35px;
  }
  section.home > div.container {
    height: 260px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  section.home div.container div.figureContainer {
    height: 250px !important;
    padding: 10px;
    box-sizing: border-box;
  }
  section.home > div.container > .figureContainer a figure {
    height: 220px;
    width: 130px;
    margin-left: 0px;
  }
  section.home > div.container > .figureContainer a figure img {
    max-height: 170px;
  }
  .container::-webkit-scrollbar {
    background-color: rgb(128, 128, 128);
    border-radius: 0 0 50px 50px;
    height: 5px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #222222 !important;
    border-radius: 0 0 50px 50px;
  }

  /* genres section */
  section.home div.genres {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    border-radius: 20px;
  }
  div.genres a {
    margin-top: 10px !important;
    height: 70px !important;
    text-align: center;
  }
  /* footer */
  footer {
    padding: 10px 5px;
    font-size: 14px;
  }
}

/* under 350 px */
@media screen and (max-width: 350px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* header */
  header {
    padding: 10px 15px;
    display: block;
  }
  header > a {
    display: block !important;
  }
  header h1 {
    font-size: 30px !important;
    text-align: center;
  }
  header ul {
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  header ul a {
    font-size: 18px;
  }
  header.fixed {
    padding: 10px 15px;
  }
  /* main */
  main.home {
    height: 550px;
  }
  main.home > section {
    padding: 150px 30px !important;
  }
  main.home > section > p {
    font-size: 28px;
  }
  main.home > section div {
    width: 250px !important;
    height: 40px !important;
  }
  main.home > section div form * {
    font-size: 16px;
  }
  main.home > section div input {
    padding-left: 15px;
  }
  main.home > i {
    top: 0;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  /* trending today */
  section.home {
    padding: 40px 15px;
  }
  section.home > h2 {
    margin-top: 35px;
  }
  section.home > div.container {
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  section.home div.container div.figureContainer {
    height: 250px !important;
    padding: 10px;
    box-sizing: border-box;
  }
  section.home > div.container > .figureContainer a figure {
    height: 250px;
    margin-left: 0px;
  }
  section.home > div.container > .figureContainer a figure img {
    max-height: 200px !important;
  }
  .container::-webkit-scrollbar {
    background-color: rgb(128, 128, 128);
    border-radius: 0 0 50px 50px;
    height: 5px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #222222 !important;
    border-radius: 0 0 50px 50px;
  }

  /* genres section */
  section.home div.genres {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 10px;
    border-radius: 20px;
  }
  div.genres a {
    margin-top: 15px !important;
    height: 70px !important;
    text-align: center;
  }
  /* footer */
  footer {
    padding: 10px 5px;
    font-size: 14px;
  }
}

/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */
/* About page */

main.about {
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./images/bg.jpg) no-repeat;
  background-size: cover;
}
main.about > section {
  padding: 150px 0 20px 0;
}
main.about > section p {
  display: inline-block;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 400px;
}
main.about > section a {
  text-decoration: none;
  color: #c1c1c1;
}
main.about > section h2 {
  color: #eeeeee;
  font-size: 35px;
}

/* about--article */
article.about {
  border-top: 8px solid #222222;
  text-align: center;
  padding: 70px 0 20px 0;
}
article.about > i {
  color: #fff;
}
article.about > section {
  margin: 150px auto 30px;
}

article.about > section > div {
  width: 50%;
  background-color: rgb(99, 99, 99);
  padding: 50px 30px;
  border-radius: 10px;
  color: white;
  line-height: 25px;
  letter-spacing: 1.5px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
article.about > section > div:nth-child(1) {
  position: relative;
  left: -10%;
}
article.about > section > div:nth-child(2) {
  background: rgba(207, 207, 207, 0.2);
  backdrop-filter: blur(8px);
  position: relative;
  top: -30px;
  left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
article.about > section > div li {
  list-style: none;
}
article.about > section > div:nth-child(2) h3 {
  margin-top: 0;
}
article.about > section > div:nth-child(2) ul {
  padding-left: 0px;
}
article.about > section > div:nth-child(3) {
  position: relative;
  top: -60px;
  left: -3%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ---------------RESPONSIVE---------------- */

/* RESPONSIVE 768x1024 */
@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* main */
  main.about > section {
    padding-top: 150px !important;
  }
  main.about > section p {
    width: 400px;
  }
  main.about > section h2 {
    font-size: 34px;
  }
  /* article */
  article.about i {
    width: 85%;
    display: block;
    margin: auto;
    font-size: 16px;
  }
  article.about > section {
    margin-top: 75px;
    font-size: 16px;
  }
  article.about > section > div {
    line-height: 24px;
    width: 65%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  article.about > section > div:nth-child(1) {
    left: -5%;
  }
  article.about > section > div:nth-child(2) {
    left: 5%;
    top: -15px;
  }

  article.about > section > div:nth-child(3) {
    top: -30px;
  }
}

/* RESPONSIVE 576x767 */
@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* main */
  main.about > section {
    padding-top: 150px !important;
  }
  main.about > section p {
    width: 300px;
  }
  main.about > section h2 {
    margin: 10px;
    font-size: 34px;
  }
  /* article */
  article.about i {
    width: 85%;
    display: block;
    margin: auto;
    font-size: 16px;
  }
  article.about > section {
    margin-top: 75px;
    font-size: 16px;
  }
  article.about > section > div {
    line-height: 24px;
    width: 80%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  article.about > section > div:nth-child(1) {
    left: -5%;
  }
  article.about > section > div:nth-child(2) {
    left: 5%;
    top: -15px;
  }
  article.about > section > div:nth-child(3) {
    top: -30px;
  }
}

/* 426px and 575px */
@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* main */
  main.about > section {
    padding-top: 150px !important;
  }
  main.about > section p {
    width: 250px;
  }
  main.about > section h2 {
    margin: 10px;
    font-size: 34px;
  }
  /* article */
  article.about i {
    width: 85%;
    display: block;
    margin: auto;
    font-size: 16px;
  }
  article.about > section {
    margin-top: 75px;
    font-size: 16px;
  }
  article.about > section > div {
    padding: 0px;
    line-height: 22px;
    width: 80%;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  article.about > section > div:nth-child(1) {
    left: -5%;
  }
  article.about > section > div:nth-child(2) {
    left: 5%;
    top: -15px;
  }
  article.about > section > div:nth-child(3) {
    top: -30px;
  }
}

/* 351px and 425px */
@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* main */
  main.about > section {
    padding-top: 100px !important;
  }
  main.about > section p {
    width: 200px;
  }
  main.about > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  /* article */
  article.about i {
    width: 85%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  article.about > section {
    margin-top: 75px;
    font-size: 14px;
  }
  article.about > section > div {
    padding: 0px;
    line-height: 18px;
    width: 80%;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  article.about > section > div:nth-child(1) {
    left: -5%;
  }
  article.about > section > div:nth-child(2) {
    left: 5%;
    top: -15px;
  }
  article.about > section > div:nth-child(3) {
    top: -30px;
  }
}

/* under 350 px */
@media screen and (max-width: 350px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* main */
  main.about > section {
    padding-top: 100px !important;
  }
  main.about > section p {
    width: 200px;
  }
  main.about > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  /* article */
  article.about i {
    width: 85%;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  article.about > section {
    margin-top: 75px;
    font-size: 12px;
  }
  article.about > section > div {
    padding: 0px;
    line-height: 14px;
    width: 280px;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  article.about > section > div:nth-child(1) {
    left: -10px;
  }
  article.about > section > div:nth-child(2) {
    left: 10px;
    top: -15px;
  }
  article.about > section > div:nth-child(3) {
    top: -30px;
  }
}

/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
/* sign in */
header.signInHeader {
  background-color: #222;
}
section.signin {
  /* margin-top: 50px; */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./images/bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin .container {
  width: 450px;
  background-color: #555555;
  margin: 110px 50px 50px;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 70px;
  box-sizing: border-box;
  border-radius: 20px;
}
.signin h1 {
  color: white;
  margin-top: 50px;
  font-size: 2rem;
}
.signin p {
  margin: 35px 0 5px 10px;
  font-size: 14px;
  color: #999999;
}
.signin form input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  background-color: #333;
  border: none;
  border-radius: 10px;
  height: 50px;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
  padding: 10px 20px;
  color: white;
}

button.signinBtn {
  background-color: #e50914 !important;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
}

/* -----------RESPONSIVE------------ */

/* 426px and 575px */
@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    padding: 15px 15px;
  }
  header ul a {
    padding: 10px !important;
  }
  .signin .container {
    width: 80%;
    margin: 110px auto 50px;
    padding: 40px 35px;
  }
  .signin .container h1 {
    margin-top: 0px;
  }
  .signin .container button {
    margin-bottom: 10px;
  }
}

/* 351px and 425px */
@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }

  .signin .container {
    width: 90%;
    margin: 110px auto 50px;
    padding: 40px 25px;
  }
  .signin .container h1 {
    margin-top: 0px;
  }
  .signin .container button {
    margin-bottom: 10px;
  }
}

/* under 350 px */
@media screen and (max-width: 350px) {
  html,
  body {
    overflow-x: hidden;
  }
  .signin .container {
    width: 90%;
    margin: 110px auto 50px;
    padding: 40px 20px;
  }
  .signin .container h1 {
    margin-top: 0px;
  }
  .signin .container button {
    margin-bottom: 10px;
  }
}

/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */
/* genres screen */

main.genre {
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./images/bg.jpg) no-repeat;
  background-size: cover;
}
main.genre > section {
  padding: 100px 0 20px 0;
}
main.genre > section p {
  display: inline-block;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 0px;
  width: 400px;
  outline: none;
}
main.genre > section a {
  text-decoration: none;
  color: #c1c1c1;
}
main.genre > section h2 {
  color: #eeeeee;
  font-size: 35px;
}

/* Result container */
section.content {
  border-top: 8px solid #222222;
  text-align: center;
  margin-bottom: 100px;
}
#resultContainer {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0;
}
#resultContainer .figuresContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#resultContainer figure {
  margin: 0 auto 50px;
  transition: 0.2s ease;
  background-color: #222222;
  border-radius: 20px;
  height: 400px;
  width: 250px;
  padding: 6px;
  text-align: center;
}
#resultContainer figure:hover {
  transform: scale(1.1);
}
#resultContainer img {
  max-height: 350px;
  width: 100%;
  border-radius: 15px;
}

#resultContainer figcaption {
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#resultContainer a {
  text-decoration: none;
}

button#more {
  background-color: #e50914;
  outline: none;
  text-align: center;
  border: none;
  padding: 15px 25px;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}

/* ----------RESPONSIVE----------- */

/* RESPONSIVE 768x1024 */
@media screen and (max-width: 1024px) {
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* RESPONSIVE 576x767 */
@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* 426px and 575px */
@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    padding: 20px 15px;
  }
  header ul a {
    padding: 10px !important;
  }
  main.genre > section {
    padding-top: 90px !important;
  }
  main.genre > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.genre > section h2 {
    margin: 20px 10px;
    font-size: 30px;
  }
  /* content section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* 351px and 425px */
@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.genre > section {
    padding-top: 90px !important;
  }
  main.genre > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.genre > section h2 {
    margin: 20px 10px;
    font-size: 30px;
  }
  /* content section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 14px;
    margin: 10px 0;
  }
}

/* under 350 px */
@media screen and (max-width: 350px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.genre > section {
    padding-top: 90px !important;
  }
  main.genre > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.genre > section h2 {
    margin: 20px 10px;
    font-size: 30px;
  }

  /* section content */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 20px;
    height: 230px;
    width: 120px;
  }
  #resultContainer img {
    max-height: 180px;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 50px;
    font-size: 14px;
    margin: 0px 0;
  }
}

main.result {
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./images/bg.jpg) no-repeat;
  background-size: cover;
}
main.result > section {
  padding: 100px 0 20px 0;
}
main.result > section p {
  display: inline-block;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 0px;
  width: 400px;
  outline: none;
}
main.result > section a {
  text-decoration: none;
  color: #c1c1c1;
}
main.result > section h2 {
  color: #eeeeee;
  font-size: 35px;
}
main.result div.container {
  display: inline-block;
  background-color: white !important;
  border: none;
  border-radius: 50px;
  width: 400px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}
main.result form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.result input,
main.result button {
  border: none;
  height: 100%;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
}
main.result input {
  width: 75%;
  padding-left: 30px;
}
main.result button {
  margin-right: 2px;
  height: 90%;
  cursor: pointer;
  background-color: #e50914;
  padding: 0 15px 0 15px;
  transition: 0.2s ease;
  color: #222222;
}
main.result button:hover {
  transform: scale(1.1);
}

/* Result container */

section.content {
  border-top: 8px solid #222222;
}
.type-input {
  display: none;
}
#content-type {
  text-align: center;
  margin-top: 50px;
}
#typemovie {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
#typeserie {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
input.type-input:checked + div.movieType {
  background-color: #222222;
  border: 1px solid #e50914;
}

div.movieType {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 50px;
  width: 110px;
  background-color: #333333;
  color: #c1c1c1;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#resultContainer {
  max-width: 1200px;
  margin: 50px auto 50px;
  padding: 0;
}
#resultContainer > h1 {
  color: white;
  text-align: center;
  /* margin-bottom: 200px; */
}
#resultContainer .figuresContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
#resultContainer figure {
  margin: 0 auto 50px;
  transition: 0.2s ease;
  background-color: #333333;
  border-radius: 20px;
  height: 400px;
  width: 250px;
  padding: 6px;
  text-align: center;
}
#resultContainer figure:hover {
  transform: scale(1.1);
}
#resultContainer img {
  max-height: 350px;
  width: 100%;
  border-radius: 15px;
}

#resultContainer figcaption {
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#resultContainer a {
  text-decoration: none;
}
#resultContainer .duck {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

/* ----------------RESPONSIVE-------------------- */
/* ----------------RESPONSIVE-------------------- */
/* ----------------RESPONSIVE-------------------- */
/* ----------------RESPONSIVE-------------------- */

/* RESPONSIVE 768x1024 */
@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.result > section {
    padding-top: 120px !important;
  }
  main.result > section p {
    width: 350px;
    padding-bottom: 10px;
  }
  main.result > section h2 {
    margin: 20px;
    font-size: 30px;
  }
  main.result > section div {
    width: 340px !important;
    height: 40px !important;
    margin: 10px 0 !important;
  }
  main.result > section div form * {
    font-size: 18px;
  }
  main.result > section div input {
    padding-left: 15px;
  }

  /* result--section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* RESPONSIVE 576x767 */
@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.result > section {
    padding-top: 120px !important;
  }
  main.result > section p {
    width: 250px;
    padding-bottom: 10px;
  }
  main.result > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  main.result > section div {
    width: 300px !important;
    height: 40px !important;
    margin: 10px 0 !important;
  }
  main.result > section div form * {
    font-size: 16px;
  }
  main.result > section div input {
    padding-left: 15px;
  }

  /* result--section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* 426px and 575px */
@media screen and (max-width: 575px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.result > section {
    padding-top: 90px !important;
  }
  main.result > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.result > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  main.result > section div {
    width: 290px !important;
    height: 40px !important;
    margin: 10px 0 !important;
  }
  main.result > section div form * {
    font-size: 16px;
  }
  main.result > section div input {
    padding-left: 15px;
  }

  /* result--section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 16px;
    margin: 10px 0;
  }
}

/* 351px and 425px */
@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.result > section {
    padding-top: 90px !important;
  }
  main.result > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.result > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  main.result > section div {
    width: 260px !important;
    height: 40px !important;
    margin: 10px 0 !important;
  }
  main.result > section div form * {
    font-size: 16px;
  }
  main.result > section div input {
    padding-left: 15px;
  }

  /* result--section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 30px;
    height: 80%;
    width: 85%;
  }
  #resultContainer img {
    max-height: 85%;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 10%;
    font-size: 14px;
    margin: 10px 0;
  }
}

/* under 350 px */
@media screen and (max-width: 350px) {
  html,
  body {
    overflow-x: hidden;
  }
  main.result > section {
    padding-top: 90px !important;
  }
  main.result > section p {
    width: 200px;
    padding-bottom: 10px;
  }
  main.result > section h2 {
    margin: 10px;
    font-size: 30px;
  }
  main.result > section div {
    width: 250px !important;
    height: 40px !important;
    margin: 10px 0 !important;
  }
  main.result > section div form * {
    font-size: 16px;
  }
  main.result > section div input {
    padding-left: 15px;
  }

  /* result--section */
  section#resultContainer {
    margin-top: 50px;
    padding: 0 10px;
  }
  #resultContainer .figuresContainer {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  #resultContainer figure {
    margin: 0 auto 20px;
    height: 230px;
    width: 120px;
  }
  #resultContainer img {
    max-height: 180px;
    width: 100%;
  }
  #resultContainer figcaption {
    height: 50px;
    font-size: 14px;
    margin: 0px 0;
  }
}
